.settings__setting {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgba(0, 0, 0, 0.7);
}

.settings__setting i {
  margin-right: 20px;
  font-size: 20px;
  color: rgba(0, 0, 0, 0.7);
}

.settings__setting-column:last-child {
  opacity: 0.5;
}
