.screen-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--horizontal-space);
  padding-top: 40px;
  padding-bottom: 30px;
}

.screen-header__title {
  font-size: 30px;
  font-weight: 600;
}

.screen-header__icons span {
  margin-left: 25px;
}

.screen-header__find-cog {
  display: inline;
  position: relative;
}

.screen-header__notification {
  background-color: tomato;
  width: 5px;
  height: 5px;
  left: 45px;
  bottom: 23px;
  border-radius: 10px;
  position: absolute;
}

@keyframes rotateCog {
  from {
    transform: none;
  }
  to {
    transform: rotateZ(360deg);
  }
}

.screen-header__icons .fa-cog:hover {
  animation: rotateCog 2s linear infinite;
}
